<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="css\style.css">
<title>Restaurant</title>

<style>

body {
  background-image: url("media/images/background 150p-03.jpg"); 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
 
}
</style>

</head>
<body onload="sessionfun()">
	<!--
	<video autoplay loop muted class="background-video">
		<source src="media\videos\Cuisine.mp4" type="video/mp4">
	</video>
	-->
	
	<div id="head-container">
		<nav>
			<a href="index"><img src="media\logos\pinpng.com-puppet-png-819249.png" class="webpage-logo"></a>
			<ul>
				<li><a class="manu-item" href="index">Home</a></li>
				<li><a class="manu-item" href="foodmenu">Food Menu</a></li>
				<li><a class="manu-item" href="order">Order</a></li>
				<li><a class="manu-item" href="about">About Us</a></li>
				<li id="sessionLI"></li>
			</ul>

		</nav>	
			
	
	</div>
<!--
	<div class = "container">
	<div class = "container1">
  <h1><i>Best In Test</i></h1>
  <h1><i>Restaurant</mark></h1>
<h3>Show Menu</h3>-->

</div>
</div>

</body>
<script type="text/javascript" src="js/myscript.js">


</script>
</html>`