<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>PixelTrice</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
<br>
<h1 class="text-center">Spring Boot Image Gallery Application
<a href="admin" class="btn btn-danger text-right">Go Home</a>
</h1>
<br><br>

<table id="example" class="table table-striped table-bordered text-center">

            <tr>
               
                <th>Name</th>
                <th>Category</th>
                <th>Price</th>
                <th>Image</th>
                <th>Created date</th>
                <th>Action</th>
            </tr>
    		<tbody th:with="count=0">
 	<tr th:each = "food, hh : ${food}"> 
 	<td th:text="${food.foodItem}"></td>  
 	<td th:text="${food.categories}"></td> 
 	<td th:text="${food.price}"></td> 

<td><img th:src="@{${'http://localhost:9090/showfood/'+ food.foodItem}}" 
                class="card img-fluid" style="width:300px" alt=""/></td>
                
<!-- 	<td><img th:src="@{${'media/images/breakfast/'+ food.foodItem+'.jpg'}}" 
                class="card img-fluid" style="width:300px" alt=""/></td> --> 

 	</tr>
        
    </table>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap.min.js"></script>
	<script type="text/javascript">
	$(document).ready(function() {
	    $('#example').DataTable();
	} );
	</script>
</body>
</html>