<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
 <style >
.container {    
  border-radius: 5px;    
  background-color: #f2f2f2;    
  padding: 20px;    
}  
  
  table{border-collapse: collapse;
  }
  th, td {
  padding: 15px;
  text-align: left;
}
tr:hover {background-color: coral;}
  </style>  
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Top Items</h1>
<form action="/topthreeItems"  method="post">
        <div alight="left">
            <tr>
                <label class="form-label" >Find Between Dates</label>
                <td>
                    <input type="text" name="date" class="form-control" placeholder="YY-mm-dd" />
                </td>
    
                <td>
                    <input type="text" name="date2" class="form-control" placeholder="YY-mm-dd" />
                </td>
   
            <td colspan="2"><button type="submit" class="btn btn-info">Search</button> </td>
            </tr>
               </div>
              </form>
            <br>
            
         
            
    <div class="container">
        <div class="row">
            <h1 >Top Three Items</h1>

     <table width="100%" >
			
				<thead>
					<tr>
					<th>Food Names</th>
					
					</tr>
				</thead>
				<tbody>
							<tr th:each="ConfirmOrders:${ConfirmOrders}">
							<td th:text="${ConfirmOrders.food}" />
					</tr>
				</tbody>
				
			</table>
        </div>

    </div>
</body>
</html>